@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Paleta de cores */
    --primary-color: #6b46c1; /* Roxo principal */
    --primary-hover: #553c9a; /* Roxo mais escuro */
    --secondary-color: #f6ad55; /* Laranja */
    --text-color-light: #ffffff;
    --text-color-dark: #1a202c; /* Cinza escuro */
    --background-light: #ffffff;
    --background-dark: #1a202c; /* Fundo escuro */

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-hover);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;

    /* Fundo padrão escuro */
    background-color: var(--background-dark);
    color: var(--text-color-light);
    @apply font-sans;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.1;
}

button {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
    background-color: var(--primary-hover);
}

button:focus,
button:focus-visible {
    outline: 4px auto var(--primary-hover);
}

/* Modo claro */
@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #6b46c1;
        --primary-hover: #553c9a;
        --text-color-light: #1a202c;
        --background-light: #ffffff;

        color: var(--text-color-dark);
        background-color: var(--background-light);
    }

    a:hover {
        color: #7c3aed; /* Tom mais claro para hover em modo claro */
    }

    button {
        background-color: var(--primary-color);
        color: var(--text-color-light);
    }
}

/* Adaptação para o fundo geral */
body {
    @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-gray-900;
}
